.page-section-contact {
     background-color: $accent-color;
     padding-top: 20px;
    
    .content-wrapper {
        padding: 20px 10px; 
        line-height: 20px;
    }
}

.contact-info {
    color: $white;
    text-align: center;
}

.contact-info-item {
    padding-bottom: 20px;
}