footer {
    width: 100%;
    background-color: $primary-color;
    text-align: center;
    p {
        height: 80px;
        line-height: 80px;
        color: $accent-color;
        margin: 0;  
    }
}

